{% extends 'base.html.twig' %}

{% block title %}New Safe{% endblock %}

{% block body %}
    <h1>Create new Safe</h1>

    {{ include('safe/_form.html.twig') }}

    <a href="{{ path('safe_index') }}">back to list</a>
{% endblock %}
